:root {
  --vp-font-family-base: sans-serif;
  --vp-font-family-mono: monospace;
}

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #e4712a;
  --vp-c-brand-2: #fba731;
  --vp-c-brand-3: #b185fc;
  /* --vp-c-brand-soft: #ffeebe; */
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-2);
  --vp-button-brand-text: var(--vp-c-text-1);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: var(--vp-c-brand-2);
  --vp-button-brand-hover-text: var(--vp-c-bg);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: var(--vp-c-brand-soft);
  --vp-button-brand-active-text: var(--vp-c-gray-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --vp-code-color: var(--vp-c-brand-3);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #ae4404 30%,
    #ecb754
  );
}
